<h1><%= @day %></h1>



<% counter = 0 %>
<% for deals in @all_deals %>

<% next if deals == [] %>

<%  %>
<% for key, value in deals %>
<% if key == :x %>

<p> <%= deals[:x] %> for <%= deals[:y] %> </p>

<% end %>
<% if key == :price %>

<p> everything for £<%= deals[:price].price_value %></p>
<% end %>
<% if key == :percent %>

<p> <%= deals[:percent] %>% off</p>
<% end %>
<% end %>



<% counter += 1 %>
<% end %>