<h1>Index Home Page Thing</h1>

<p><a href="/burgers">All Burgers</a></p>
<p><a href="/eateries">All Eateries</a></p>
<p><a href="/deals">All Deals</a></p>

<p> <a href="/Monday"><%= @days[0] %> </p>
<p> <a href="/Tuesday"><%= @days[1] %> </p>
<p> <a href="/Wednesday"><%= @days[2] %> </p>
<p> <a href="/Thursday"><%= @days[3] %> </p>
<p> <a href="/Friday"><%= @days[4] %> </p>
<p> <a href="/Saturday"><%= @days[5] %> </p>
<p> <a href="/Sunday"><%= @days[6] %> </p>