<h1>Deals</h1>

<%= @all_deals %>

<% for deal in @all_deals%>

<p> <%= deal[2]['deal_type'] %> </p>
<p> <%= deal[0]['name'] %> </p>
<p> <%= deal[1]['name'] %> </p>
<p> <%= @day['day'] %> </p>

<% end %>