<h1>Deals</h1>



<% for deal in @all_deals%>
<% day = @day['day'] %>

<p> <%= deal[2]['deal_type'] %> </p>
<p> <%= deal[0]['name'] %> </p>
<p> <%= deal[1]['name'] %> </p>
<p> <%= day %> </p>
</br>

<% end %>



<% other_counter = 1 %>
<% counter = 0 %>
<% for deal in @xydeal_info %>



<p><%= deal[counter][0]["x_value"] %> for <%= deal[counter][0]["y_value"] %></p>

<% for values in deal[other_counter] %>

<p><%= values.name %></p>

<% end %>
<% counter += 2 %>
<% other_counter += 2 %>

</br>
<% end %>