<h1>Deals</h1>



<% for deal in @all_deals%>
<% day = @day['day'] %>

<p> <%= deal[2]['deal_type'] %> </p>
<p> <a href="/burgers"> <%= deal[0]['name'] %> </a></p>
<p> <a href="/eateries"> <%= deal[1]['name'] %> </a></p>
<p> <a href="/<%= "#{day}".to_s %>"> <%= day %> </a></p>

<% end %>